<%- include("./views/header") -%>

<body>    
<main>
    <div class="container-fluid">
        <h1 class="mt-4">All Packages</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Find all the packages below</li>
        </ol>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">Basic 0 (For Beginners)</div>
                    <div class="card-body">
                        Class - 3
                        <br>
                        Difficulty - Easy
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-header">Intermediate 0</div>
                    <div class="card-body">
                        Class - 3
                        <br>
                        Difficulty - Medium
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-header">Advance 0 (For Experts)</div>
                    <div class="card-body">
                        Class - 3
                        <br>
                        Difficulty - Hard
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">Basic 1 (For Beginners)</div>
                    <div class="card-body">
                        Classes - 4 to 5
                        <br>
                        Difficulty - Easy
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-header">Intermediate 1</div>
                    <div class="card-body">
                        Classes - 4 to 5
                        <br>
                        Difficulty - Medium
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-header">Advance 1 (For Experts)</div>
                    <div class="card-body">
                        Classes - 4 to 5
                        <br>
                        Difficulty - Hard
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">Basic 2 (For Beginners)</div>
                    <div class="card-body">
                        Classes - 6 to 7
                        <br>
                        Difficulty - Easy
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-header">Intermediate 2</div>
                    <div class="card-body">
                        Classes - 6 to 7
                        <br>
                        Difficulty - Medium
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-header">Advance 2 (For Experts)</div>
                    <div class="card-body">
                        Classes - 6 to 7
                        <br>
                        Difficulty - Hard
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">Basic 3 (For Beginners)</div>
                    <div class="card-body">
                        Classes - 8 Onwards
                        <br>
                        Difficulty - Easy
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-header">Intermediate 3</div>
                    <div class="card-body">
                        Classes - 8 Onwards
                        <br>
                        Difficulty - Medium
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-header">Advance 3 (For Experts)</div>
                    <div class="card-body">
                        Classes - 8 Onwards
                        <br>
                        Difficulty - Hard
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
<%- include("./views/footer") -%>