<%- include("./views/header") -%>

<body style="background-color:#56baed;">    
<main>
    <div class="container-fluid">
        <h1 class="mt-4">All Packages</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Find all the packages below</li>
        </ol>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">Basic 0 (For Beginners)</div>
                    <div class="card-body">
                        Classes - 3 to 4
                        <br>
                        <br>
                        <div class="row text-center">
                            <div class="col-6">Free<br>1 Paper</div>
                            <div class="col-6">Paid (Rs.500)<br>15 Papers</div>
                        </div>
                    </div>
                    <div class="card-footer">All Papers have unlimited attempts</div>
                    <!-- <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Intermediate 0</div>
                    <div class="card-body"><a href="#">Description</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Advance 0 (For Experts)</div>
                    <div class="card-body text-center"><a href="#">Description</a>
                        <div class="row">
                            <div class="col-6">col1</div>
                            <div class="col-6">col2</div>
                        </div>
                    </div>

                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            
        </div>   
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body">Basic 1</div>
                    <div class="card-body"><a href="#">Description</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Intermediate 1</div>
                    <div class="card-body"><a href="#">Description</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Advance 1</div>
                    <div class="card-body"><a href="#">Description</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            
        </div>   
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-body">Basic 2</div>
                    <div class="card-body"><a href="#">Description</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Intermediate 2</div>
                    <div class="card-body"><a href="#">Description</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Advance 2</div>
                    <div class="card-body"><a href="#">Description</a></div>               
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            
        </div>   
        
    </div>
    
</main>

</body>
<%- include("./views/footer") -%>