<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Front Page </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Simple line icons-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Core theme CSS -->
        <link href="css/styles3.css" rel="stylesheet" />
    </head>
    
<body>
  <div style="background: linear-gradient(45deg,white 0%, white);">
    <h1 class="text-center pt-5 heading"><strong>BASIC SECTION</strong></h1>
    <p class="text-center " style="font-weight: 100;">You can buy the packages as per the age group and level of difficulty.</p>
    
  <div class="body-cards">
    <div class="container">
      <div class="card">
        <span></span>
        <div class="content">
          <h2>Basic-0</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis omnis assumenda consequuntur iusto. Repellendus sed, molestiae quidem vitae voluptatem esse.</p>
          <a href="#"><button class="btn btn-danger">Buy Now</button></a>
        </div>
      </div>

      <div class="card">
        <span></span>
        <div class="content">
          <h2>Basic-1</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis omnis assumenda consequuntur iusto. Repellendus sed, molestiae quidem vitae voluptatem esse.</p>
          <a href="#"><button class="btn btn-danger">Buy Now</button></a>
        </div>
      </div>

      <div class="card">
        <span></span>
        <div class="content">
          <h2>Basic-2</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis omnis assumenda consequuntur iusto. Repellendus sed, molestiae quidem vitae voluptatem esse.</p>
          <a href="#"><button class="btn btn-danger">Buy Now</button></a>
        </div>
      </div>

      <div class="card">
        <span></span>
        <div class="content">
          <h2>Basic-3</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis omnis assumenda consequuntur iusto. Repellendus sed, molestiae quidem vitae voluptatem esse.</p>
          <a href="#"><button class="btn btn-danger">Buy Now</button></a>
        </div>
      </div>

      <div class="card">
        <span></span>
        <div class="content">
          <h2>Basic-4</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis omnis assumenda consequuntur iusto. Repellendus sed, molestiae quidem vitae voluptatem esse.</p>
          <a href="#"><button class="btn btn-danger">Buy Now</button></a>
        </div>
      </div>

      <div class="card">
        <span></span>
        <div class="content">
          <h2>Basic-5</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis omnis assumenda consequuntur iusto. Repellendus sed, molestiae quidem vitae voluptatem esse.</p>
          <a href="#"><button class="btn btn-danger">Buy Now</button></a>
        </div>
      </div> 
  </div>
</div>
</body>