<%- include("./views/header") -%>
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <div class="card mt-4">
            <div class="card-header">
              Steps to proceed
            </div>
            <div class="card-body">
                <p class="card-text">
                    1. To verify your account, please Whatsapp a photo of Aadhaar-card of the student on 9910080191.
                </p>
                <p class="card-title">
                    2. After verification, you can access free sample paper from <a style="color: darkblue;"href="/my-packages">My Packages</a> section.
                </p>
                <p class="card-title">
                    3. Papers are divided according to the level of difficulty (Basic/Intermediate/Advance). Multiple attempts are allowed.
                </p>
                <p class="card-title">
                    4. You can further buy packages according to your age groups and difficulty level.
                </p>
                <p class="card-title">
                    5. Check <a style="color: darkblue;" href="/all-packages">All Packages</a> sections to buy the respective packages.
                </p>
                <p class="card-title">
                    6. For more details, contact 9910080191.
                </p>
            </div>
        </div>
    </div>
    
    
</main>
<%- include("./views/footer") -%>