<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Front Page </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Simple line icons-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles8.css" rel="stylesheet" />
        
    </head>

<div class="landing-page">
    <div class="container">
      <!-- <div class="header-area">
        <div class="logo">Your <b>Website</b></div>
        <ul class="links">
          <li>Home</li>
          <li>About Us</li>
          <li>Work</li>
          <li>Info</li>
          <li>Get Started</li>
        </ul>
      </div> -->
      <div class="info">
        <h1>Looking For Inspiration</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus odit nihil ullam nesciunt quidem iste, Repellendus odit nihil</p>
        <button>Button name</button>
      </div>
      <div class="image">
        <img src="https://i.postimg.cc/65QxYYzh/001234.png">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  
  