<%- include("./views/auth-header") -%>
<!-- Login Form -->
<form>
<div class="text-center pt-4">
    <h5><i class="fa fa-lock fa-4x"></i></h5> 
    <h2>Forgot Password?</h2>
    <hr style = "width: 50%; height:2px; background-color: #56baed;">
</div>	
<input type="text" id="email" name="email" placeholder="Email">
<input class="mt-4" type="submit"  value="Reset Password">
</form>


      
<%- include("./views/auth-footer") -%>


