<link href="css/styles5.css" rel="stylesheet" />
<div class="container">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Q|U|I|Z</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a>
          </li>
          <li><a href="#">Link</a>
          </li>
          <li><a href="#">More</a>
          </li>
          <li><a href="#">Options</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /navbar -->
  
    <div class="row clearfix">
    </div>
    <div class="col-md-1 column">
    </div>
    <div class="col-md-10 column">
      <p class="lead">Completo al 40%</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 40%;">
          <span class="sr-only">Completo al 40%</span>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
                          Domanda
                      </h3>
        </div>
        <div class="panel-body">
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Questa è la risposta uno. Fossi in te, la lascerei perdere
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Forse la due si avvicina... ma non ci giurerei
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Opzione tre — da' retta, è questa
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4"> Sulla risposta quattro non ci metterei la mano sul fuoco...
            </label>
          </div>
  
        </div>
        <div class="panel-footer">
          <a href="#" class="btn btn-primary " role="button">Conferma</a>
          <a href="#" class="btn btn-default disabled" role="button">Avanti</a>
        </div>
      </div>
      <div class="col-md-1 column">
      </div>
    </div>
  </div>