/* body {
    background-color: #e9f5f8;
} */

.onQuestion{
    background-color: #518ef8;
}

.markedQuestion{
    background-color: rgb(51, 165, 6);
}

.timer {
    border-radius: 100%;
    /* background-color: blueviolet; */   
}

.start {
    color: #000;
    background-image: radial-gradient(white, rgb(235, 70, 92));
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

.btn-circle.btn-sm { 
    width: 20px; 
    height: 20px; 
    padding: 3px 0px; 
    border-radius: 10px; 
    font-size: 8px; 
    text-align: center; 
    color: black;
    border-color: black;
    margin: 0.75px;
    
} 

.wrap {  
    word-wrap: normal;  
  }  

/* CSS used here will be applied after bootstrap.css */