body {
    background:radial-gradient(rgb(186, 245, 174), rgb(224, 240, 243));
}


.onQuestion{
    background-color: rgb(41, 61, 245);
}

.markedQuestion{
    background-color: rgb(123, 241, 76);
}
.timer {
    border-radius: 100%;
    background-color: blueviolet;
}

.start {
    color: #000;
    background-image: radial-gradient(white, rgb(235, 70, 92));
}

.dot {
    height: 10px;
    width: 1px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
  }

.btn-circle.btn-sm { 
    width: 20px; 
    height: 20px; 
    padding: 3px 0px; 
    border-radius: 10px; 
    font-size: 8px; 
    text-align: center; 
    color: black;
    border-color: black;
    margin: 0.75px;
    
} 

.wrap {  
    word-wrap: normal;  
  }  

/* CSS used here will be applied after bootstrap.css */